/* =======================================
    Standard colors
=======================================*/
:root {
    --background: white;
    --menu-background: rgb(225, 225, 225);
    --main-color: #f1c40f;
    --second-color: #f1c40fb4;
    --tertiary-color: #696758;
    --warning: #ff475b;
    --success: #23ae6e;
    --card: #f0e48d;
    --form-color: rgb(240, 240, 240);
}

/* =======================================
    Reset / Base
=======================================*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background);
    color:black;
}

/* =======================================
    Template
=======================================*/

#navigation-bar{
    background-color: var(--main-color);
    height: 80px;
}

#main-content {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-menu {
    display: flex;
    width: 80vw;
    height: 70vh;
    background-color: var(--menu-background);
    min-width: 650px;
    min-height:500px;
}

.task-menu {
    text-align: center;
    border-right: 2px solid var(--main-color);
    padding: 15px;
}

.link-menu {
    display: block;
    background-color: var(--main-color);
    text-decoration: none;
    color: #45484b;
    font-size: 18px;

    width: 230px;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.link-menu:hover {
    background-color: var(--second-color);
}

.link-menu:active {
    background-color: var(--tertiary-color);
}

.status-success {
    height: 40px;
    background-color: var(--success);
    color:white;
    font-size: 24px;
    text-align: center;
}

.status-failed {
    height: 40px;
    background-color: var(--warning);
    color:white;
    font-size: 24px;
    text-align: center;
}

.div-aux {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#content {
    padding: 20px;
    height: 100%;
    width: 100%;
}

/* =======================================
    Card Display
=======================================*/

.row-forms {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.card-task {
    background: var(--card);
}

.btn-options {
    margin-bottom: 10px;
    margin-right: 8px;
}

/* =======================================
    Nav menu
=======================================*/

.nav-tasks {
    background-color: var(--menu-background);
}

#nav-upper {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid var(--main-color);
    height: 40px;
    display: block;
}

#nav-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 20px;
}

#li-order-by {
    float: right;
    margin: 5px 10px;
}

.button-order-by {
    height: 28px;
    padding: 0 10px;
    border-radius: 30px;
}


/* =======================================
    Task Form
=======================================*/

.standard-form {
    margin: 0 auto;
    width: 50vw;
    background-color: var(--form-color);
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
}

#required-info {
    display: block;
    text-align: center;
    margin: 5px;
    color: var(--warning);
}

#button-submit {
    display: block;
    width: 20vw;
    margin: 0 auto;
}

.input-error {
    border: 2px solid var(--warning);
}